{% extends "index.html" %}
{% block content %}	
<br/><h1>Nuestros Cines</h1><br/>
{% for cine in cines %}
<div class="contenido-cine">
	<img src="../static/img/cine/{{ cine[0]}}.1.jpg" width="227" height="170"/>
		<div class="datos-cine">
		<h4>{{ cine[1]}}</h4><br/>
			<span>{{ cine[4]}} - {{ cine[6]}}<br/><br/>{{ cine[5]}}</span>
		</div>
		<br/>
		<a href="{{ url_for('cine', id=cine[0])}}">
			<img src="../static/img/varios/ico-info2.png" width="150" height="40"/>
		</a>
</div>
{% endfor %}	
{% endblock %}

